@import "../../../globalStyles/scss/variables.scss";

.category {
  &__header {
    text-align: center;
    padding-top: $spacer * 4.5;
    padding-bottom: $spacer * 4.5;
    background-size: cover;
    background-color: $blue-overlay;
    background-blend-mode: multiply;

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(-45deg);
      padding: 1.5vw 9vw;

      h1 {
        display: inline-block;
        transform: skew(45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: 8vw;
        font-weight: 900;

        @media (min-width: $small-screen) {
          font-size: 4vw;
        }
      }
    }
  }

  .pagination {
    width:100%;
    text-align: center;
    background: #eee;
    padding:10px;
    margin-top:20px;

    button {
      padding: 10px;
      background: #fff;
      border: 1px solid #eee;
      margin: 0 10px;

      &:hover {
        background: #ccc;
      }
    }
  }

  .page-count {
    margin: 0 15px;
  }
}

.hBweNH {
  max-height: initial !important;
}

[data-test=productThumbnail] {
  min-height: 273px;
}

@media (max-width:500px) {
  [data-test=productList] [data-test=productThumbnail] img {
    height: 275px;
  }  
}

.collection {
  h3.normal {
    text-align: left;
    margin-bottom: 7px;
    font-size: 1.25rem;
  }
  ul.normal {
    margin-bottom: 13px;
    text-align: left;
    li {
      margin-left: 20px;
      list-style: disc;
      padding-bottom: 4px;
      font-size: .9rem;
    }
  }
}
