@import "../../../../globalStyles/scss/variables.scss";

$drawer-width: 25rem;

.search {
  width: 100vw;

  @media (min-width: $medium-screen) {
    width: $drawer-width;
  }

  &--has-results {
    min-height: 100vh;
  }

  .input {
    margin-bottom: 0;
  }

  &__input {
    .input__icon-right {
      svg * {
        fill: $white;
      }
    }

    .input__icon-left {
      svg * {
        fill: $base-font-color;
      }
    }

    .input__field {
      background-color: $turquoise-light;
      border: none;
      box-shadow: none;
      padding-bottom: 1.2rem;
      padding-top: 1.25rem;
      width: 100%;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        text-transform: uppercase;
        font-size: $base-font-size;
        color: $black;
      }
    }
  }

  &__products {
    background: $white;
    overflow: auto;
    padding: $spacer / 2 0;
    position: relative;
    right: 0;
    transition: 300ms;
    height: calc(100vh - 3rem);

    @media (min-width: $medium-screen) {
      right: -$drawer-width;
    }

    &--expanded {
      right: 0;
    }

    &--not-found {
      padding: 14px;
    }

    &__item {
      padding: $spacer / 2 $spacer;

      img {
        width: 3.6rem;
        height: 3.6rem;
        display: inline-block;
        margin-right: $spacer;
        vertical-align: top;
      }

      span {
        display: inline-block;
        width: calc(100% - 4.6rem);
      }

      h4 {
        text-transform: uppercase;
        font-weight: $bold-font-weight;
        padding: $spacer / 4 0;
        color: $base-font-color;
      }

      p {
        color: $gray;
      }

      &:hover {
        background-color: $gray-light;
      }

      ul {
        max-height: calc(100vh - 9rem);
      }
    }

    &__footer {
      position: fixed;
      bottom: 0px;
      border-top: 1px solid $gray-light;
      text-align: center;
      padding: $spacer 0;
      background-color: $white;
      width: 100vw;

      @media (min-width: $medium-screen) {
        width: 25rem;
      }
    }
  }
}



.overlay--search
{

  .overlay__right
  {
    height: 100vh;
    overflow-y: scroll;
    width: 450px;
    background: #FFFFFF;
    box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.3);
    @media screen and (max-width: 450px) {
      width: 100%;
      // height: auto;
    }
  }

  .overlay__modalFull
  {
    width: 500px;
    max-width: 100%;
    @media screen and (max-width: 450px) {
      height: 94vh;
    }
  }
  form
  {
    background: #FFFFFF;
    display: flex;


    input.ais-SearchBox-input
    {
      flex: 1;
      border: 0;
      padding: 10px;
      font-size: 1rem;
      outline: 0;
    }

    .ais-SearchBox-reset {
      display: none;
      .ais-SearchBox-resetIcon {
        display: none;
      }
    }

    .ais-SearchBox-submit
    {
      display: none;
      padding: 10px 8px 8px 8px;
      font-size: 1rem;

      svg
      {
        width: 20px;
        height: 20px;
      }
    }
  }

  .ais-Hits
  {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.25);

    .ais-Hits-item
    {
      padding: 4px 0;

      &:first-child
      {
        padding-top: 0;
      }

      &:last-child
      {
        padding-bottom: 0;
        margin-bottom: 80px;
      }

      a
      {
        align-items: center;
        display: flex;

        p
        {
          padding: 0 5px;
        }

        &:hover
        {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }

  }
}
