@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;

  h3 {
    font-family: Yukarimobile;
    font-size: 2rem;
    font-weight: $bold-font-weight;
    margin-bottom: $spacer * 2;
    text-transform: uppercase;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    // max-width: 255px;
    text-decoration: none;
  }
  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    @media screen and (max-width: 540px) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }

}
