@import "../../../globalStyles/scss/variables";

.search-page {

  ul.ais-Hits-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
  }

  .serp-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
  }

  .serp-item{
    background: none;
    text-align: center;
    max-height: 30rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    &:hover {
      background-color: #efefef;
    }
  }

  .serp-image{
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 10px 15px;

    img{
      width: auto!important;
      height: auto!important;
      max-width: 100%;
    }

  }

  .serp-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    text-align: center;
    padding: 0 10px;
  }
  .serp-price{
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
  
}
