@import "../../../globalStyles/scss/variables.scss";

.search-page {
  &__header {
    background-color: $blue-dark;
    padding: $spacer * 4 0;

    &__input {
      .input {
        &__label {
          text-transform: uppercase;
          font-size: $h3-font-size;
          font-weight: $extra-bold-font-weight;
        }

        &__field {
          border: none;
          box-shadow: none;
          border-bottom: 1px solid $white;
          font-size: $h1-font-size;
          padding: $spacer / 2 0;
          color: $white;
          text-transform: uppercase;
          font-weight: $extra-bold-font-weight;

          &:focus {
            box-shadow: none;
            color: $white;
          }
        }
      }
    }
  }

  .ais-Pagination {
    margin-top: 10px;
  }

  .ais-Pagination-list {
    text-align: center;
  }

  .ais-Pagination-list li {
    list-style: none;
    display: inline-block;
  }
  .ais-Pagination-list li a {
    color: #002646;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #EFEFEF;
  }
  .ais-Pagination-list li.ais-Pagination-item--selected a {
    background: #50C878;
  }
  .ais-Pagination-list li.ais-Pagination-item--selected a {
    color: #fff
  }

}
