@import "../../../globalStyles/scss/variables.scss";

.social-container {
  // width: 30%;
  @media screen and (max-width: 750px) {
    width:100%;
  }
}

.resize-social-logo {
  width: 35px;
  height: 35px;
}

.social-text {
  display: block;
  // font-weight: bold;
  // display: block;
  // float: left;
  // margin-top: 24px;
  &:hover {
    // color: $turquoise;
  }
}

.social-icon {
  // padding: $spacer $spacer / 2;
  // float: left;
  // margin-bottom: 10px;
  padding-top: 20px;

  svg * {
    transition: 0.3s;
  }

  &:hover {
    svg * {
      fill: $turquoise;
    }
  }
}
