.filter-title
{
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;

  > span
  {
	position: absolute;
	top: 50%;
	right: 0;
	padding: 8px;
	transform: translateY(-50%);
	font-size: 1.5rem;
  }
}