@import "../../../globalStyles/scss/variables.scss";

.static-page {

  .onlyMobile {
    @media screen and (min-width: 450px) {
      display: none;
    }
  }

  a {
    color: #1F5D83;
  }

  p {
    // font-family: Oswald, serif;
    line-height: 2rem;
    font-size: 1rem;
  }

  h1 {
    text-align: center;
    // font-family: "Coda Caption";
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 15px 0 50px 0;
  }

  h2 {
    text-align: center;
    // font-family: "Coda Caption", serif;
    font-size: 2rem;
    line-height: 1.8rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }

  h3 {
    // font-family: "Coda Caption";
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }

  .about-page {
    padding: 100px;
    text-align: left;
    @media screen and (max-width: 750px) {
      padding: 100px 20px;
    }
  }

  .confirmation-page {
    h1 {
      margin: 15px 0 30px 0;
    }
    p {
      font-size: 22px;
      font-weight: bold;
    }
    padding: 100px;
    text-align: center;
    @media screen and (max-width: 750px) {
      padding: 100px 20px;
    }
  }

  .contact-page {

    p.margin-bottom-small {
      margin-bottom: 50px;
    }
    padding: 100px;
    text-align: left;
    @media screen and (max-width: 750px) {
      padding: 100px 20px;
    }
    p {
      margin: 10px 0;
    }
    b {
      font-weight: bold;
    }
/*    a {
      color: #E43024;
    } */
  }

  .locations-page {
    padding: 100px 20px;
    text-align: left;
    p {
      margin: 0;
      line-height: 1.5rem;
    }
    b {
      font-weight: bold;
    }
    h2 {
      margin-top: 10px;
    }
    .iframe-container {
      position: relative;
      overflow: hidden;
      padding-top: 75%;
    }

    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }


    .locations-grid {
      display: flex;
      flex-wrap: wrap;

      .locations-grid-item {
        flex-basis: calc(50% - 20px);
        margin: 10px 10px;
        padding: 20px 20px;
        box-shadow: 0 0 0 1px #aeaeae;
        // background: rgba(0,0,0,0.05);

        @media screen and (max-width: 750px) {
          flex-basis: 100%;
        }

        .store-address, .store-hours {
          text-align: center;
          width: 50%;
          float: left;
          @media screen and (max-width: 450px) {
            float: none;
            width: 100%;
          }
        }

        .store-hours {
          @media screen and (max-width: 450px) {
            margin-top: 20px;
          }
        }
      }
    }
  }

}

