@import "../../../globalStyles/scss/variables.scss";

.footer {

  .yukarimobile {
    font-family: 'Yukarimobile', sans-serif;
    &.med {
      font-size: 40px;
      line-height: 60px;
    }
  }

  background-color: $blue-dc;
  color: $white;

  &__favicons {
    display: flex;
    justify-content: center;

    svg * {
      transition: 0.3s;
      fill: $white;
    }

  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }

  &-nav {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }
    }

    &__section {
      &-logo {
        margin-left: 40px;
        margin-right: 40px;
      }
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        text-transform: uppercase;
      }

      &-content {
        p {
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }
}
