@import "../../../globalStyles/scss/variables.scss";

.pad-bottom {
  padding-bottom: 20px !important;
}

.footer {

  .margin {
    // margin: 0 auto;
    text-align: center;
  }

  &__social-container {
    width: 100%;
  }

  &__social {
    margin: 0;
    padding: 0;
  }

  &__socialtext {
    display: block;
    margin-top: 25px;
    cursor: pointer;
    &:hover {
      color: #51E9D2;
    }
  }

  h4 {
    font-size: 1rem;
    display: inline;
    margin: 20px;
    @media screen and (max-width: 750px) {
      // font-size: 40px;
      display: block;
    }

  }

  .yukarimobile {
    font-family: 'Yukarimobile', sans-serif;
    &.med {
      font-size: 40px;
      line-height: 60px;
    }
  }

  padding-top: 30px;
  background-color: $blue-dc;
  color: $white;

  &__favicons {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    svg * {
      transition: 0.3s;
      fill: $white;
    }

  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }

  &-nav {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }
    }

    &__section {
      margin: 30px 0 30px 0;
      font-family: "Coda Caption";
      &-logo {
        margin-left: 40px;
        margin-right: 40px;
      }
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        text-transform: uppercase;
      }

      &-content {
        p {
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }
}
