@import "../../../globalStyles/scss/variables.scss";
.section-search {

  .searchImage {
    height: 34px;
    margin-bottom: -9px;
  }

  border-top: 5px solid white;
  span {
    color: white;
    font-family: Yukarimobile;
    font-size: 24px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #000000;
  }
  svg {

    &:hover {
      // color: white;
      // fill: white;
    }
  }
  background-color: #E43024;
  p {
    color: white;
    min-height: 50px;
  }
}

.container {
  text-align: center;
}

.div-block-search {
  margin-top: 10px;

  //margin-bottom: 20px;
}

