@import "../../../globalStyles/scss/variables.scss";
.section-search {
  span {
    color: #002646;
    font-family: 'Yukarimobile', sans-serif;
    font-size: 24px;
  }
  svg {
    fill: #002646!important;
    &:hover {
      color: white;
      fill: white;
    }
  }
  background-color: white;
  p {
    color: white;
    min-height: 50px;
  }
}

.container {
  text-align: center;
}

.div-block-search {
  margin-top: 10px;

  //margin-bottom: 20px;
}

