@import "../../../globalStyles/scss/variables.scss";
.section-search {
  background-color: #E43025;
  p {
    color: white;
    min-height: 50px;
  }
}

.container {
  text-align: center;
}

.div-block-search {
  margin-top: 10px;

  //margin-bottom: 20px;
}

